/* Hoja de Estilos */
*{
    /*background-color: aqua;*/
    margin: 0;
}

body{
    background-image: url(/Assets/pexels-ellis-1389429.jpg);
    background-size: 100% auto;
    background-attachment: fixed;
}

header{
    height: 70px;
    top:0;
    position: sticky;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #406d5c;
    align-content: center;
    

}

header a{
    text-decoration: none;
    color: black;
}
div{
    display: flex;
    align-content: center;
    /*flex-wrap: wrap;*/
}

h1{
    color: #eee1b6;
    font-family: 'Calibri';
    margin:0 ; 
    padding:0 ;
    background-color: #75af92;
    font-size: 300%;
    align-content: center;
    
}

h2{
    color: #332929;
    font-style: italic;
    background-color: #18A383;
    padding: 0 20px;
}

p{
    color: rgb(66, 57, 46);
    font-style: oblique;
    font-family: 'Lucida Sans';
}

a{
    align-content: center;
}


#texto {
    color: white;
    background-color: violet;
    text-align: center;
    margin-left: 10px;
    }  

/*<<<<<<< HEAD*/


/*=======*/
form {
        background-color: rgb(163, 179, 178);
        border-radius: 3px;
        color: #406d5c;
        font-size: 0.8em;
        padding: 10px;
        margin: 15px;
        width: 400px;
    }


.texto1{
    font-family: "Galada", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 0 20px;
    
    }

/*<<<<<<< HEAD*/

/*--------FORMULARIO--------*/    
.contacto {
    flex-direction: column;
    width: 400px;
    background: #24303c;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 20px #000;
  }


.form-register {
    width: 400px;
    background: #24303c;
    padding: 60px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 20px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 5px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #627bb1;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }       
    
  .form-register .botons {
    width: 100%;
    background: #627bb1;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
/*=======*/
.texto2{
        font-family: "Galada", cursive;
        font-weight: 400;
        font-style: normal;
        }

.nav-bar{
    background-color: #49846d;
    font-size: 20px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    /*padding:10px;*/
    height: 30px;
    position: sticky;
    top: 70px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    

}

.logo{
    font-size: 48px;
    align-content: center;
    
}

.nav-links{
    display: flex;
    gap: 0px 15px;
            
}

.nav-links a{
    text-decoration: none;
    color: black;
}


/* Este font usa wght como parametro no es weight*/
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }



  span.size-48 {
    font-size: 48px;
    font-variation-settings: 'OPSZ' 48;
    animation: pulse 3s infinite;
   }

  @keyframes pulse {
    0% {
      font-variation-settings: 'wght' 100;
    }
    50% {
      font-variation-settings: 'wght' 700;
    }
    100% {
      font-variation-settings: 'wght' 100;
    }
  }

  .menu-toggle{
    display: none;
  }

  .menu-toggle-symbol{
    display: none;
    margin: 5px;
    top: 50px; 
  }

  .desktop-nav {
    margin-left: 44px;
    
  }

  .toggle-nav{
    width: 100%;
    height: 100px;
    padding: 0px 20px;
    display: none;
    flex-direction: column;
    top: 65px;
    background-color: #49846d;
    z-index: 9999;
    color: black;
    width: 100%;

  }

  footer{
    /*background-color: #49846d;*/
    background-color: #406d5c;
    padding: 0 20px;
  }

@media (max-width:760px) and (min-width:401px) {
    .desktop-nav{
        display: none;
        }
    .menu-toggle-symbol{
        display: block;
        }
    .menu-toggle:checked~.toggle-nav{
        display: flex;
        }
    }
/*@media  (min-width: 761px) {       
            
            }*/

@media (max-width: 400px) {
        .desktop-nav{
            display: none;
            }
        .menu-toggle-symbol{
            display: block;
            }
        .logo{
            font-size: 24px;
            align-items: center;
            }
        span.size-48 {
            font-size: 24px;
            }
        .menu-toggle:checked~.toggle-nav{
            display: flex;
            }
    }

/* Dando formato a las cards*/

        .container{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 20px;

          
        }
        
        .card{
          width: 20vw;
          height: auto; 
          border: black solid 2px;
          background-color: #24303c;
          display: flex; 
          flex-direction: column; 
          margin-bottom: 30px;
          }
        
        .card img {
          width: 100%; 
          height: auto; 
        }
        
        .titulo{
          background-color: #24303c;
          padding: 10px; 
          text-align: center; 
        }

        @media (max-width: 768px) {
          .card {
            width: calc(50% - 20px); 
          }
        }
        
        @media (max-width: 480px) {
          .card {
            width: calc(100% - 20px); 
          }
        }


        .carrusel-conteiner{
          overflow-x: scroll;
          width: auto;
          margin: 20px ;
          
        }
        .carrusel{
          display: flex;
          flex-wrap: nowrap;
        }
        .card2{
          width: 20vw;
          max-width: 300px;
          height: auto;
          border: black solid 2px;
          background-color: #24303c;
          margin-right: 20px;
          display: flex;
          flex-direction: column;
        }
        
        .card2:last-child {
          margin-right: 0; 
        }
        
        .card2 img {
          width: 100%;
          height: auto;
        }
        
        .titulo2{
          background-color: #24303c;
          padding: 10px;
          text-align: center;
        }
        
        @media (max-width: 768px) {
          .card2 {
            width: calc(50% - 20px);
          }
        }
        
        @media (max-width: 480px) {
          .card2 {
            width: calc(100% - 20px);
          }
        }